<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228402230352-e4mq0t0cmesea7ga4lh271ngum04hlr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228402230352-e4mq0t0cmesea7ga4lh271ngum04hlr4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228402230352-1tn0co2ikil8ldbua6mqoedbqehtesfq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo_awcBKxIFn0nUxl-G0lk8eDL9-OWxYI</string>
	<key>GCM_SENDER_ID</key>
	<string>228402230352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wash.wipe</string>
	<key>PROJECT_ID</key>
	<string>danbeauty-937c5</string>
	<key>STORAGE_BUCKET</key>
	<string>danbeauty-937c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228402230352:ios:6ad23c8a877224c946cd55</string>
	<key>DATABASE_URL</key>
	<string>https://danbeauty-937c5-default-rtdb.firebaseio.com</string>
</dict>
</plist>